main {
    background-color:lightsteelblue;
    border-radius: 12px;
    margin: auto;
    padding: 10px;
    width: 80% ;
}

header, footer {
    text-align: center;
}

nav { 
    background-color: grey;
    margin: 0;
    padding: 0;
}

a:visited {
    color: inherit;
}

a {
    text-decoration: none;
}

body {
  height: 100dvh;
  margin: 0;

  background-color: #06c;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.2) 2px,
      transparent 2px
    ),
    linear-gradient(90deg, rgba(255, 255, 255, 0.2) 2px, transparent 1px),
    linear-gradient(rgba(255, 255, 255, 0.1) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255, 255, 255, 0.1) 1px, transparent 1px);
  background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
  background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;

  color: white;
}

footer {
    margin: auto;
    padding: 5px;
}

img {
    height: 60%;
    width: 60%;
  
}